name: Release

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 22
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: install
        run: npm ci
      - name: release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TRUSTED_PUBLISHER: true
          MAVEN_SERVER_ID: "github"
          MAVEN_USERNAME: ${{ github.actor }}
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_REPOSITORY_URL: "https://maven.pkg.github.com/${{ github.repository }}"
          NUGET_TRUSTED_PUBLISHER: true
          NUGET_USERNAME: engineal
          PYPI_TRUSTED_PUBLISHER: true
        run: npx semantic-release
